<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeHandlers>
		<typeHandler handler="com.geogym.common.db.LocalDateTimeHandler" />
		<typeHandler handler="com.geogym.common.db.LocalDateHandler" />
		<typeHandler handler="com.geogym.common.db.LocalTimeHandler" />
	</typeHandlers>

</configuration>