<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.geogym.qna.dao.face.QnaDao">
	<select id="selectCntAll" parameterType="com.geogym.common.dto.Paging" resultType="int">
	SELECT count(*) FROM qna
	</select>
	
	<select id="selectAll" parameterType="com.geogym.common.dto.Paging" resultType="com.geogym.qna.dto.Qna">
	SELECT qna.*, (SELECT user_name FROM user WHERE qna.user_no = user_no) AS user_name FROM qna Order by qna_no DESC limit 10 offset #{startNo } - 1
	</select>
	
	<!-- 이름 조인해야함 ㅜ -->

</mapper>