<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.geogym.calendar.dao.CalendarDao">
 	<insert id="insertholiday" parameterType="com.geogym.calendar.dto.Holiday">
 		insert or replace into holiday(holiday_date,holiday_name) values(#{holiday_date},#{holiday_name})
 		
 	</insert>
 
 	<delete id="deleteholiday" parameterType="com.geogym.calendar.dto.Holiday">
 		delete from holiday where holiday_date = #{holiday_date} and holiday_name = #{holiday_name}
 		 
 		
 	</delete>
 
 
 </mapper>