<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geogym.body.dao.face.BodyInfoDao">
  	
  	<!-- 로그인, 회원가입 완성시 user_no 파라미터 수정할것. -->
  	<select id="selectCurrentBodyInfo" parameterType="com.geogym.user.dto.User" resultType="com.geogym.body.dto.BodyInfo">
  		SELECT * FROM bodyinfo where user_no = 1 ORDER BY bodyinfo_date DESC limit 1
  	</select>
  	
<!--   	bodyinfo_date 고치면 수정할것 -->
  	<insert id="insertBodyInfo" parameterType="com.geogym.body.dto.BodyInfo">
  		INSERT INTO BodyInfo
  			( user_no , 
  			 bodyinfo_date , 
  			 bodyinfo_height , 
  			 bodyinfo_weight , 
  			 bodyinfo_fat , 
  			 bodyinfo_muscle )
  		VALUES
  			( 1 , 
  			#{bodyinfo_date} , 
  			#{bodyinfo_height} , 
  			#{bodyinfo_weight} , 
  			#{bodyinfo_fat} , 
  			#{bodyinfo_muscle} )
  	</insert>
  	
  	<select id="selectBodyInfoByWeek" parameterType='hashmap' resultType="com.geogym.body.dto.BodyInfo">
  		SELECT * FROM bodyinfo 
  		WHERE user_no = ${user_no} 
  		AND bodyinfo_date BETWEEN DATE(#{date} ,'-7 days') 
  		AND #{date} limit 1
  	</select>
  	
  	<select id="selectBodyInfoByMonth" parameterType="hashmap" resultType="com.geogym.body.dto.BodyInfo">
  		SELECT * FROM bodyinfo 
  		WHERE user_no = ${user_no} 
  		AND bodyinfo_date BETWEEN DATE(#{date} ,'-30 days') 
  		AND #{date} limit 1  		
  	</select>
  	
  	<insert id="insertBodyCommentary" parameterType="com.geogym.body.dto.BodyComment">
  		INSERT INTO body_comment
  			( body_comment_no ,
  			bodyinfo_no ,
  			trainer_no ,
  			body_comment_date ,
  			body_comment_msg)
  		VALUES
  			( #{body_comment_no} ,
  			#{bodyinfo_no} ,
  			#{trainer_no} , 
  			#{body_comment_date} , 
  			#{body_comment_msg} )
  	</insert>
  	
  	<select id="selectBodyCommentary" parameterType="com.geogym.user.dto.User" resultType="com.geogym.body.dto.BodyComment">
  		SELECT * FROM body_comment NATURAL JOIN bodyinfo
  	</select>
  	
  	<delete id="deleteBodyInfo" parameterType="com.geogym.body.dto.BodyInfo">
  		DELETE FROM bodyinfo WHERE #{bodyinfo_no} in ( SELECT bodyinfo_no FROM Bodyinfo ORDER BY bodyinfo_no DESC limit 1 )
  	</delete>
  	
  	<delete id="deleteBodyCommentary" parameterType="com.geogym.body.dto.BodyInfo">
  		DELETE FROM Body_comment WHERE #{bodyinfo_no} in ( SELECT bodyinfo_no FROM Body_comment ORDER BY bodyinfo_no DESC limit 1 )
  	</delete>
  	
  	
  </mapper>