<?xml version="1.0" encoding="UTF-8"?>	

<!DOCTYPE mapper	
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">	

<mapper namespace="com.geogym.message.dao.MessageDao">	

<insert id="insertMessage" parameterType="com.geogym.message.dto.Message">	
	INSERT INTO message (	
	user_no, message_content, message_date	
	, message_expire_date, message_isread)	
	VALUES (	
	#{user_no}, #{message_content}, #{message_date}	
	, #{message_expire_date}, #{message_isread})	
</insert>	

<insert id="insertNotification" parameterType="com.geogym.message.dto.Notification">	
	INSERT INTO notification (	
	notification_content, notification_expire_date)	
	VALUES (	
	#{notification_content}, #{notification_expire_date})	
</insert>	

<select id="selectMessage" parameterType="hashmap" resultType="com.geogym.message.dto.Message">	
	SELECT * FROM message	
	WHERE user_no = #{user_no}	
	ORDER BY message_date DESC	
	LIMIT #{count}	
</select>	

<select id="selectOneMessage" parameterType="hashmap" resultType="com.geogym.message.dto.Message">	
	SELECT * FROM message	
	WHERE user_no = #{user_no}	
	ORDER BY message_date DESC	
	LIMIT 1	
	OFFSET #{order}	
</select>	

<update id="updateToTrue" parameterType="com.geogym.message.dto.Message">	
	UPDATE message SET message_isread = true	
	WHERE message_no = #{message_no}	
</update>	

</mapper>