<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.geogym.schedule.dao.ScheduleDao">

	<select id="selectWorkingTimeInaDay"
		parameterType="com.geogym.schedule.dto.Schedule"
		resultType="com.geogym.schedule.dto.Schedule">
		SELECT 
		attendance_date AS schedule_date
		, attendance_start AS schedule_from
		, attendance_end AS schedule_to 
		FROM
		attendance
		WHERE 1=1
		AND trainer_no = #{trainer.trainer_no}
		AND attendance_date = #{schedule_date}
	</select>
	
	<select id="selectSchedule"
		parameterType="com.geogym.schedule.dto.Schedule"
		resultType="com.geogym.schedule.dto.Schedule">
		SELECT schedule_no, trainer_no AS `trainer.trainer_no`, schedule_date, schedule_from, schedule_to, schedule_msg FROM schedule
		JOIN trainer using (trainer_no)
		WHERE 1=1
		AND trainer_no = #{trainer.trainer_no}
		AND schedule_date = #{schedule_date}
	</select>
	
	<insert id="insertSchedule" parameterType="com.geogym.schedule.dto.Schedule">
		INSERT INTO schedule (schedule_no, trainer_no, schedule_date, schedule_from, schedule_to, schedule_msg)
		VALUES (#{schedule_no}, #{trainer.trainer_no}, #{schedule_date}, #{schedule_from}, #{schedule_to}, #{schedule_msg} )
	</insert>
	
	<insert id="insertPTSchedule" parameterType="com.geogym.pt.dto.PT">
		INSERT INTO pt (schedule_no, pt_type_no, user_no, pt_request_date, pt_date )
		VALUES ( #{schedule_no}, #{pt_type_no}, #{user.user_no}, #{pt_request_date}, #{pt_date} )
	</insert>
	
	<delete id="deletePT" parameterType="hashmap">
		DELETE FROM pt
		WHERE 1=1
		AND user_no = #{user_no}
		AND pt_date = #{pt_date}
	</delete>
	
	<delete id="deleteSchedule" parameterType="hashmap">
		DELETE FROM schedule
		WHERE 1=1
		AND trainer_no = #{trainer_no}
		AND schedule_date = #{schedule_date}
		AND schedule_from = #{schedule_from}
	</delete>
	
	<select id="selectPTList" parameterType="hashmap" resultType="com.geogym.pt.dto.PT">
		SELECT schedule_no, pt_type_no, user_no AS `user.user_no`, pt_request_date, pt_date FROM pt
		WHERE 1=1
		AND user_no = #{user_no}
		AND pt_date BETWEEN #{start} AND #{end}
		ORDER BY pt_date
	</select>

	<select id="selectAttandanceInMonth" parameterType="hashmap" resultType="com.geogym.schedule.dto.Schedule">
		SELECT 
		attendance_date AS schedule_date
		, attendance_start AS schedule_from
		, attendance_end AS schedule_to 
		FROM
		attendance
		WHERE 1=1
		AND trainer_no = #{trainer_no}
		AND attendance_date BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="insertWorkHour" parameterType="com.geogym.schedule.dto.Attendance">
		insert into attendance values(#{attendance_date},#{trainer_no},#{attendance_start},#{attendance_end})
	
	</insert>
</mapper>